@page
@model FrontEnd.Pages.Patients.IndexModel

@{
    ViewData["Title"] = "Liste des patients";
}

<div class="container mt-5">
    <h2 class="mb-4">Liste des Patients</h2>
    <a class="btn btn-primary mb-3" asp-page="/Patients/Create">➕ Ajouter un patient</a>

    <table class="table table-bordered align-middle text-center">
      
        <thead class="table-light">
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Âge</th>
                <th>Risque</th>
                <th>Sexe</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model.Patients)
            {
                <tr>
                    <td>@p.LastName</td>
                    <td>@p.FirstName</td>
                    <td>@p.Age ans</td>
                    <td>
                        @if (p.Risque == "EarlyOnset")
                        {
                            <span class="badge bg-danger">Early Onset</span>
                        }
                        else if (p.Risque == "InDanger")
                        {
                            <span class="badge bg-warning text-dark">In Danger</span>
                        }
                        else if (p.Risque == "Borderline")
                        {
                            <span class="badge bg-success">Borderline</span>
                        }
                        else
                        {
                            <span class="badge bg-secondary">None</span>
                        }
                    </td>
                    <td>@p.Gender</td>
                    <td>
                        <a class="btn btn-outline-success btn-sm"
                           asp-page="/Notes/Index"
                           asp-route-patientId="@p.Id">
                            📝 Notes
                        </a>
                        <a class="btn btn-info btn-sm"
                           asp-page="/Patients/Details"
                           asp-route-id="@p.Id">🔍 Détails</a>
                        <a class="btn btn-warning btn-sm"
                           asp-page="/Patients/Edit"
                           asp-route-id="@p.Id">✏️ Modifier</a>
                        <a class="btn btn-danger btn-sm"
                           asp-page="/Patients/Delete"
                           asp-route-id="@p.Id">🗑 Supprimer</a>
                    </td>
                </tr>
            }
        </tbody>

    </table>
</div>
